:root{
  --color-theme:#857510;/*#857510, #e3d88f;*/
  image-rendering:-moz-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
 
}
#topleftbuttons{
   margin-left:10%;
   width:50%;
   height:10%;
   top:0 !important;
}
#toprightbuttons{
  margin-right:10%;
  width:50%;
  height:10%;
  top:0 !important;
}
#maintext{
  justify-content:center;
  width:90%;
  height:80%;
}
