:root{
  --color-theme:#857510;/*#857510, #e3d88f;*/
}

.organizedside{
   width:50%;
   height:10%;
   border:2px;
}
#bodyall{
  image-rendering:-moz-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
  justify-content:center;
  text-align:center;
  background-color:#F6EEE3;
}
#topleftbuttons{
   margin-left:10%;
   top:0 !important;
}
#toprightbuttons{
  margin-right:10%;
  top:0 !important;
}
#maintext{
  justify-content:center;
  width:90%;
  height:80%;
}
